body{
    padding-top:70px;
}
/*Header logo */
.logo-img{
    height:40px !important;
    padding:0 10px;
}

/* content wrapper */
.content-wrapper{
    min-height:600px;
}
/* footer */
.footer-contents{
    background-color:black;
    height:70px;
}